Authentication using service principals and keytabs to MIT Kerberos realms fails

**Describe the bug**
Authentication to an MIT Kerberos realm fails if a service principal (e.g. "`client/fqdn.example.com@EXAMPLE.COM`") is used by the client.  The root cause of this is that the principal is sent in the AS_REQ packet as a CName with type `NT_ENTERPRISE` and name "`client/fqdn.example.com@EXAMPLE.COM`".  By contrast, if "`kinit -k -t krb5.keytab client/fqdn.example.com@EXAMPLE.COM`" is used, the AS_REQ packet sent to the server contains a CName with type NT_PRINCIPAL and name `["client", "fqdn.example.com"]`.

**To Reproduce**
<pre><code>
String principal = "client/fqdn.example.com"
var keyTable = new KeyTable(File.ReadAllBytes("krb5.keytab"));
var kerbCred = new KeytabCredential(principal, keyTable, "EXAMPLE.COM");
await client.Authenticate(kerbCred);
</code></pre>

**Expected behavior**
The client successfully authenticates and obtains a TGT from the KDC.

**Screenshots**
Not a screenshot as such, but the resulting exception:

<pre><code>
Unhandled exception. Kerberos.NET.KerberosProtocolException: CLIENT_NOT_FOUND
   at Kerberos.NET.Transport.KerberosTransportBase.Decode[T](ReadOnlyMemory`1 response) in d:\a\1\s\Kerberos.NET\Client\Transport\KerberosTransportBase.cs:line 61
   at Kerberos.NET.Transport.UdpKerberosTransport.SendMessage[T](String domain, ReadOnlyMemory`1 encoded, CancellationToken cancellation) in d:\a\1\s\Kerberos.NET\Client\Transport\UdpKerberosTransport.cs:line 41
   at Kerberos.NET.Transport.KerberosTransportSelector.SendMessage[T](String domain, ReadOnlyMemory`1 encoded, CancellationToken cancellation)
   at Kerberos.NET.Client.KerberosClient.RequestTgt(KerberosCredential credential) in d:\a\1\s\Kerberos.NET\Client\KerberosClient.cs:line 632
   at Kerberos.NET.Client.KerberosClient.Authenticate(KerberosCredential credential) in d:\a\1\s\Kerberos.NET\Client\KerberosClient.cs:line 201``
</code></pre>

and minimised KDC log entry:

``CLIENT_NOT_FOUND: client\/fqdn.example.com\@EXAMPLE.COM@EXAMPLE.COM for krbtgt/EXAMPLE.COM@EXAMPLE.COM, Client not found in Kerberos database``

**Additional context**
Applying the patch in https://github.com/rb12345/Kerberos.NET/tree/client-service-principal-fix fixes this issue, but results in crashes when decrypting the KDC response if a service principal is used.

<pre></code>
Unhandled exception. System.Security.Cryptography.CryptographicException: ASN1 corrupted data. Expected Application-25; Actual: Constructed Application-26
   at System.Security.Cryptography.Asn1.AsnReader.CheckExpectedTag(Asn1Tag tag, Asn1Tag expectedTag, UniversalTagNumber tagNumber)
   at System.Security.Cryptography.Asn1.AsnReader.ReadSequence(Asn1Tag expectedTag)
   at Kerberos.NET.Entities.KrbEncAsRepPart.DecodeApplication(ReadOnlyMemory`1 encoded)
   at Kerberos.NET.Client.KerberosClient.<>c.<RequestTgt>b__66_0(ReadOnlyMemory`1 d)
   at Kerberos.NET.Entities.KrbEncryptedData.Decrypt[T](KerberosKey key, KeyUsage usage, Func`2 func)
   at Kerberos.NET.Credentials.KerberosCredential.DecryptKdcRep[T](KrbKdcRep kdcRep, KeyUsage keyUsage, Func`2 func)
   at Kerberos.NET.Client.KerberosClient.RequestTgt(KerberosCredential credential)
   at Kerberos.NET.Client.KerberosClient.Authenticate(KerberosCredential credential)``
</code></pre>

Retrying with a normal service principal works.


The first issue looks straightforward enough. It needs to carry the principal name type through the AS-REQ. That shouldn't be difficult to add. The second crypto issue is strange though. The AS-REQ seems to succeed enough that the KDC accepted it, but the KDC then returns a TGS-REP which is rightfully not going to fly because an AS-REQ should only ever receive an AS-REP in response as per the spec [RFC 4120 Section 3.1](https://tools.ietf.org/html/rfc4120#section-3.1).

Can you share a network trace of this second failure?

The first issue does look simple enough to fix, although I don't know if changing that would affect AD compatibility at all.

On the second part, yes, I can indeed share packet captures.  The attached zip file contains 2 pcap files: one (kerberos.pcap) showing the Kerberos.NET Kerberos traffic, and the other (kerberos-kinit.pcap) showing the same thing for a successful MIT Kerberos kinit for comparison.

[kerberos.zip](https://github.com/dotnet/Kerberos.NET/files/4528375/kerberos.zip)

Edit:

I'm not sure there's a good way to show that the final AS_REP packets in those traces contain an encTGSRepPart, but Wireshark decrypting the enc-part of the packet confirms that is the case.  This is where the RFC gets slightly fuzzy, since [[section 5.4.2|https://tools.ietf.org/html/rfc4120#section-5.4.2]] says the enc-part can contain "EncASRepPart or EncTGSRepPart, as appropriate".  It looks like the apparent misbehaviour is deliberate based on [[http://mailman.mit.edu/pipermail/kerberos/2006-July/010043.html]] and this part of RFC4120 Section 5.4.2:

> Compatibility note: Some implementations unconditionally send an
> encrypted EncTGSRepPart (application tag number 26) in this field
> regardless of whether the reply is a AS-REP or a TGS-REP.  In the
> interest of compatibility, implementors MAY relax the check on the
> tag number of the decrypted ENC-PART.

Ah, well that explains it. I missed that bit in the spec. I suspect that can be fixed without a lot of effort. Let me take a look. I don't have an MIT environment available at the moment. Would you be able to test a patch before it gets merged into main?

I've been testing some patches of my own already (which are in the branch I mentioned earlier), so I'd be perfectly happy to test your patches as well.

Check this change out: https://github.com/dotnet/Kerberos.NET/compare/feature/support-mit-tgs-rep

It handles both issues (in theory). If it works for you I'll write some tests and submit it.

You patch works for obtaining the TGT apart from one small bug in the CanDecode() method (fixed in pull request #156) that breaks the test.  Once that's in place, I now get new errors when I try to obtain a service ticket:

<pre><code>
User name: cud/arbitrary.it.ox.ac.uk
trce: Kerberos.NET.Client.KerberosClient[0]
      Attempting AS-REQ. UserName = cud/arbitrary.it.ox.ac.uk; Domain = OX.AC.UK; Nonce = 637233488
dbug: Kerberos.NET.Client.KerberosClient[0]
      AS-REP PA-Data: EType = AES256_CTS_HMAC_SHA1_96; Salt = OX.AC.UKcudarbitrary.it.ox.ac.uk;
dbug: Kerberos.NET.Client.KerberosClient[0]
      AS-REP PA-Data: EType = AES128_CTS_HMAC_SHA1_96; Salt = OX.AC.UKcudarbitrary.it.ox.ac.uk;
dbug: Kerberos.NET.Client.KerberosClient[0]
      AS-REP PA-Data: EType = RC4_HMAC_NT; Salt = OX.AC.UKcudarbitrary.it.ox.ac.uk;
trce: Kerberos.NET.Client.KerberosClient[0]
      Attempting AS-REQ. UserName = cud/arbitrary.it.ox.ac.uk; Domain = OX.AC.UK; Nonce = 637233489
.Decoding KrbEncKdcRepPart as KrbEncTgsRepPart
trce: Kerberos.NET.MemoryTicketCache[0]
      Caching ticket until 04/25/2020 04:12:46 +00:00 for kerberos--krbtgt@ox.ac.uk with renewal option until 05/01/2020 18:12:46 +00:00
Authenticated!
Unhandled exception. System.InvalidOperationException: Cannot request a service ticket until a user is authenticated
   at Kerberos.NET.Client.KerberosClient.CopyTicket(String spn)
   at Kerberos.NET.Client.KerberosClient.GetServiceTicket(RequestServiceTicket rst, CancellationToken cancellation)
   at Kerberos.NET.Client.KerberosClient.GetServiceTicket(String spn, ApOptions options, String s4u, KrbTicket s4uTicket, KrbTicket u2uServerTicket)
   at RestNegotiateClient.Program.Main(String[] args) in /home/phys0950/RestNegotiateClient/Program.cs:line 72
   at RestNegotiateClient.Program.<Main>(String[] args)
Aborted
</code></pre>

I think the issue here is because the TGT `krbtgt/OX.AC.UK@OX.AC.UK` is cached with the key `krbtgt@OX.AC.UK`, so when GetServiceTicket() attempts to use the TGT, it fails to find it.

Nice catch on the always true. :) 

Yeah, that would be why. It's odd because in the first pcap you sent the TGT SName = { krbtgt, OX.AC.UK }, with a type of Principal, where it should normally be INST or SRV matching the REQ, hence the @ in the cache key. You can see the kinit response shows INST. 

Normally these must match identically unless the canonicalize bit is set, which allows the reply to be different. Kerb.net sets it by default, whereas the kinit did not. Can you try toggling that off?
```csharp
client.AuthenticationOptions ~= AuthenticationOptions.Canonicalize;
```
Between this and the original TGS thing how do you have your KDC configured? 

Edit: wrong thinking about legacy.

Our KDCs quite possibly are configured in a more legacy configuration, in that they currently are UDP only and FAST support is not configured.  The software versions do support both though, so that could be changed if it comes to it.  On the client side, I have:

<pre><code>
[libdefaults]
        default_realm = OX.AC.UK

# The following krb5.conf variables are only for MIT Kerberos.
        kdc_timesync = 1
        ccache_type = 4
        forwardable = true
        proxiable = true
        allow_weak_crypto = false

# The following encryption type specification will be used by MIT Kerberos
# if uncommented.  In general, the defaults in the MIT Kerberos code are
# correct and overriding these specifications only serves to disable new
# encryption types as they are added, creating interoperability problems.
#
# The only time when you might need to uncomment these lines and change
# the enctypes is if you have local software that will break on ticket
# caches containing ticket encryption types it doesn't know about (such as
# old versions of Sun Java).

#       default_tgs_enctypes = des3-hmac-sha1
#       default_tkt_enctypes = des3-hmac-sha1
#       permitted_enctypes = des3-hmac-sha1

# The following libdefaults parameters are only for Heimdal Kerberos.
        fcc-mit-ticketflags = true
</code></pre>

Legacy settings or not, switching off the AuthenticationOptions.Canonicalise setting did solve that particular problem :)

I now see this, however:

<pre><code>
trce: Kerberos.NET.Client.KerberosClient[0]
      Attempting AS-REQ. UserName = cud/arbitrary.it.ox.ac.uk; Domain = OX.AC.UK; Nonce = 637233546
dbug: Kerberos.NET.Client.KerberosClient[0]
      AS-REP PA-Data: EType = AES256_CTS_HMAC_SHA1_96; Salt = OX.AC.UKcudarbitrary.it.ox.ac.uk;
dbug: Kerberos.NET.Client.KerberosClient[0]
      AS-REP PA-Data: EType = AES128_CTS_HMAC_SHA1_96; Salt = OX.AC.UKcudarbitrary.it.ox.ac.uk;
dbug: Kerberos.NET.Client.KerberosClient[0]
      AS-REP PA-Data: EType = RC4_HMAC_NT; Salt = OX.AC.UKcudarbitrary.it.ox.ac.uk;
trce: Kerberos.NET.Client.KerberosClient[0]
      Attempting AS-REQ. UserName = cud/arbitrary.it.ox.ac.uk; Domain = OX.AC.UK; Nonce = 637233547
.Decoding KrbEncKdcRepPart as KrbEncTgsRepPart
trce: Kerberos.NET.MemoryTicketCache[0]
      Caching ticket until 04/25/2020 05:48:58 +00:00 for kerberos--krbtgt/ox.ac.uk with renewal option until 05/01/2020 19:48:58 +00:00
Authenticated!
info: Kerberos.NET.Client.KerberosClient[0]
      Requesting TGS for HTTP/ws.cud.ox.ac.uk@OX.AC.UK; TGT Realm = OX.AC.UK; TGT Service = krbtgt/OX.AC.UK; S4U = (null); S4UTicket = (null)
Unhandled exception. Kerberos.NET.KerberosProtocolException: LOOKING_UP_SERVER
   at Kerberos.NET.Transport.KerberosTransportBase.Decode[T](ReadOnlyMemory`1 response)
   at Kerberos.NET.Transport.UdpKerberosTransport.SendMessage[T](String domain, ReadOnlyMemory`1 encoded, CancellationToken cancellation)
   at Kerberos.NET.Transport.KerberosTransportSelector.SendMessage[T](String domain, ReadOnlyMemory`1 encoded, CancellationToken cancellation)
   at Kerberos.NET.Client.KerberosClient.RequestTgs(RequestServiceTicket rst, KerberosClientCacheEntry tgtEntry, CancellationToken cancellation)
   at Kerberos.NET.Client.KerberosClient.GetServiceTicket(RequestServiceTicket rst, CancellationToken cancellation)
   at Kerberos.NET.Client.KerberosClient.GetServiceTicket(String spn, ApOptions options, String s4u, KrbTicket s4uTicket, KrbTicket u2uServerTicket)
   at RestNegotiateClient.Program.Main(String[] args) in /home/phys0950/RestNegotiateClient/Program.cs:line 73
   at RestNegotiateClient.Program.<Main>(String[] args)
Aborted
</code></pre>

with the following packet dump:

[kerberos-canonicalised-tgs-req.zip](https://github.com/dotnet/Kerberos.NET/files/4531235/kerberos-canonicalised-tgs-req.zip)

I think the KDC's objecting to the realm being included in the SName, based on this:

2020-04-24T20:48:58+01:00 kdc0.ox.ac.uk auth.info krb5kdc[26861]: TGS_REQ (5 etypes {18 17 23 24 -135}) 129.67.103.114: LOOKING_UP_SERVER: authtime 0,  cud/arbitrary.it.ox.ac.uk@OX.AC.UK for HTTP/ws.cud.ox.ac.uk/OX.AC.UK@OX.AC.UK, Server not found in Kerberos database

and once it's removed, the KDC is perfectly happy and my test code works as expected.

Your configuration looks standard. No worries, any issues are most likely going to be with this library.

That does appear to be what the KDC is complaining about. LOOKING_UP_SERVER is the literal error message string from the server. Were you explicitly passing in the realm name in the SPN when requesting the ticket?

As it happens, I was indeed passing the realm name when requesting the ticket.  Having removed the realm, everything now works as expected.  The (very rough) test code I'm using is at [[https://github.com/rb12345/RestNegotiateClient.Net/]] if you're interested, although it could do with some cleaning up now that it works.

Thanks again for looking into this!

Nice. Glad it was working. I'll go ahead finish up this fix and it'll get published to nuget shortly. probably the next day or two.

Your test code looks pretty good. Glad it didn't take a whole lot of work to implement. One thing that might save you a bug in the future. You can just enable the existing UDP transport:
```csharp
var udp = client.Transports.OfType<UdpKerberosTransport>().FirstOrDefault();
udp.Enabled = true;
```

The fix for this is being merged in this PR: https://github.com/dotnet/Kerberos.NET/pull/157. Nuget should be available in the next hour or so. Thanks for finding this issue!